<!DOCTYPE html>
<html class="dark" lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>

    <script src="https://cdn.tailwindcss.com"></script>

    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;600&family=Noto+Serif:wght@300&display=swap" rel="stylesheet"/>

    <title>Login</title>

    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        primary: "#e9c176",
                        background: "#0a0a0a"
                    },
                    fontFamily: {
                        serif: ["Noto Serif", "serif"],
                        sans: ["Manrope", "sans-serif"]
                    }
                }
            }
        }
    </script>
</head>

<body class="bg-background text-white min-h-screen flex items-center justify-center">

<div class="w-full max-w-sm">

    <div class="text-center mb-10">
        <h1 class="font-serif text-2xl tracking-widest uppercase">
            Sovereign Atelier
        </h1>
        <p class="text-[10px] text-zinc-500 tracking-[0.3em] mt-2 uppercase">
            Private Access Only
        </p>
    </div>

    <!-- LOGIN FORM -->
    <form action="/admin-service/login" method="POST">

        <div class="mb-4">
            <label class="text-[10px] text-zinc-400 block mb-2">EMAIL</label>
            <input type="email" name="email"
                   class="w-full p-3 bg-transparent border border-zinc-700 rounded text-sm">
        </div>

        <div class="mb-6">
            <label class="text-[10px] text-zinc-400 block mb-2">PASSWORD</label>
            <input type="password" name="password"
                   class="w-full p-3 bg-transparent border border-zinc-700 rounded text-sm">
        </div>

        <button type="submit"
                class="w-full border border-primary text-primary py-3 uppercase tracking-widest text-sm hover:bg-primary hover:text-black transition">
            Sign In
        </button>
       <a href="/admin-panel">Go to Admin Panel</a>
    </form>

</div>

</body>
</html>
