<h2>List of inquiries:</h2>

    <table>
        <tr>
            <th>ID</th>
            <th>Full Name</th>
            <th>Email Address</th>
            <th>Category</th>
            <th>Message</th>
            <th>Deleting</th>
        </tr>

        <tr th:each="inquiry : ${inquiries}">
            <td th:text="${inquiry.getId()}"></td>
            <td th:text="${inquiry.getName()}"></td>
            <td th:text="${inquiry.getEmail()}"></td>
            <td th:text="${inquiry.getCategory()}"></td>
            <td th:text="${inquiry.getMessage()}"></td>

            <td>
                <form th:action="@{/inquiry/delete/{id}(id=${inquiry.getId()})}" method="POST">
                    <button type="submit">DELETE</button>
                </form>
            </td>
        </tr>

    </table>