<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sovereign - Inquiry Submitted</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>

<main class="form-page">
    <div class="form-card">
        <h1>Inquiry Submitted</h1>
        <p>Thank you. Your message has been received.</p>
        <a th:href="@{/}">Return home</a>
    </div>
</main>

<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
